<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/public/assets/img/imag.jpg">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>La Fraterinite choir
    </title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/public/css/all.css">


    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/publiccss/owl.theme.default.min.css">

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="/public/css/aos.css">

    <!-- Custom Style   -->
    <link rel="stylesheet" href="/public/css/Styl.css">

</head>

<body>

    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <%include top.ejs %>

    <!-- ------------x---------------  Navigation --------------------------x------------------- -->

    <!----------------------------- Main Site Section ------------------------------>

    <main>
        <section class="container">
            <div class="site-content">
                <div class="posts">
                    <div class="category">
                        <h2>About us Categories</h2>
                        <ul class="category-list">
                            <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                                <a href="/aboutus">Background</a>

                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                                <a href="/vision1">Vision</a>

                            </li>

                            <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                                <a href="/mission1">Mission</a>

                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                <a href="/motto1">Motto</a>

                            </li>
                        </ul>
                    </div>
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <h3><input type="text" placeholder="search ..."><i class="fas fa-search" type="submit"></i>
                        </h3>
                        <h2>Background</h2>
                    </div>
                    <hr>


                    <% if(background.length > 0) { %>
                    <% background.forEach( function(backgrounds){ %>
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">

                        <div class="post-title">
                            <a href="#"><%=backgrounds.background_title%></a>
                            <p><%=backgrounds.background_content%></p>
                            <button class="btn post-btn"> <i
                                    class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;<%=backgrounds.background_date%></button>
                        </div>
                    </div>
                    <hr>
                    <% }); %>


                    <% }%>




                </div>
                <%include sidebar.ejs %>
            </div>
        </section>
        <!-- -----------x---------- Site Content
                    -------------x------------>

    </main>

    <!---------------x------------- Main Site Section ---------------x-------------->


    <!-- --------------------------- Footer ---------------------------------------- -->

    <%include footer.ejs%>

    <!-- -------------x------------- Footer --------------------x------------------- -->

    <!-- Jquery Library file -->
    <script src="/public/js/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="/public/js/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="/public/js/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="/public/js/main.js"></script>
</body>

</html>