<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>La Fraterinite choir
    </title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/public/css/all.css">


    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/publiccss/owl.theme.default.min.css">

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="/public/css/aos.css">

    <!-- Custom Style   -->
    <link rel="stylesheet" href="/public/css/Sty.css">

</head>

<body>

    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <!---------------x------------- Main Site Section ---------------x-------------->


    <!-- --------------------------- Footer ---------------------------------------- -->

    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia atque nemo ad modi officiis
                    iure, autem nulla tenetur repellendus.</p>
            </div>
            <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Our Location</h2>
                <p><i class="fas fa-globe"></i> ADEPR- REMERA</p>
            </div>
            <div class="instagram" data-aos="fade-left" data-aos-delay="200">
                <h2>Contact us</h2>
                <p><i class="fas fa-phone-square"></i> (+250) 0783-155-093</p>
                <p><i class="fas fa-phone-square"></i> (+250) 0783-155-093</p>
                <p><i class="fas fa-envelope"></i> info@lafraterinite.org</p>
            </div>
            <div class="follow" data-aos="fade-left" data-aos-delay="200">
                <h2>Follow us</h2>
                <p>Let us be Social</p>
                <div>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2019 All rights reserved | made by
                <a href="https://web.facebook.com/kamoso.eddy.3" target="_black">Uwambaje Eddy <i
                        class="fab fa-instagram"></i></a>
            </h4>
        </div>

        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>

    <!-- -------------x------------- Footer --------------------x------------------- -->

    <!-- Jquery Library file -->
    <script src="/public/js/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="/public/js/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="/public/js/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="/public/js/main.js"></script>
</body>

</html>