<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>La Fraterinite choir
    </title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/public/css/all.css">


    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/publiccss/owl.theme.default.min.css">

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="/public/css/aos.css">

    <!-- Custom Style   -->
    <link rel="stylesheet" href="/public/css/Styl.css">

</head>

<body>

    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-gray" style="font-family: var(--Livvic);">La Fraterinite choir

                </a>

            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="/activities">Activities</a>
                    </li>
                    <li class="nav-link">
                        <a href="/song">Songs</a>
                    </li>
                    <li class="nav-link">
                        <a href="/preachings">Preachings</a>
                    </li>
                    <li class="nav-link">
                        <a href="/accademy">Accademy</a>
                    </li>
                    <li class="nav-link">
                        <a href="/aboutus">About us</a>
                    </li>
                </ul>
            </div>
            <div class="social text-gray">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </nav>

    <!-- ------------x---------------  Navigation --------------------------x------------------- -->

    <!----------------------------- Main Site Section ------------------------------>


    <!-- -------------x------------- Footer --------------------x------------------- -->

    <!-- Jquery Library file -->
    <script src="/public/js/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="/public/js/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="/public/js/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="/public/js/main.js"></script>
</body>

</html>